{% extends 'base.html.twig' %}

{% block title %}Hello ServerController!{% endblock %}

{% block body %}

    {# {% if servers is defined %}
        {% for server in servers %}
                <tr>
                    <td>{{ server.serverName }}</td>
                    <td>{{ server.fqdn }}</td>
                    <td>{{ server.ipAddress }}</td>
                    
                </tr>
        {% endfor %}
    {% else %}
        <p>
            No servers found
        </p>
    {% endif %} #}

{% endblock %}
